In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', 'raise')
#pd.set_option('mode.chained_assignment', None)
#pd.set_option('mode.chained_assignment', 'warn')
data = pd.read_csv('Xbox 3-day auctions.csv')

In [2]:
data.head()

    auctionid    bid   bidtime          bidder  bidderrate  openbid  price
0  8213034705   95.0  2.927373        jake7870           0     95.0  117.5
1  8213034705  115.0  2.943484   davidbresler2           1     95.0  117.5
2  8213034705  100.0  2.951285  gladimacowgirl          58     95.0  117.5
3  8213034705  117.5  2.998947         daysrus          10     95.0  117.5
4  8213060420    2.0  0.065266      donnie4814           5      1.0  120.0

Common issue #1: Chained assignment

Pandas generates the warning when it detects something called chained assignment. Let’s define a few terms we’ll be using to explain things:

    Assignment — Operations that set the value of something, for example data = pd.read_csv('xbox-3-day-auctions.csv'). Often referred to as a set.
    Access — Operations that return the value of something, such as the below examples of indexing and chaining. Often referred to as a get.
    Indexing — Any assignment or access method that references a subset of the data; for example data[1:5].
    Chaining — The use of more than one indexing operation back-to-back; for example data[1:5][1:3].

Chained assignment is the combination of chaining and assignment. Let’s take a quick look at an example with the data set we loaded earlier. We will go over this in more detail later on. For the sake of this example, let’s say that we have been told that the user 'parakeet2004'‘s bidder rating is incorrect and we must update it. Let’s start by looking at the current values.

In [3]:
data[data.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004           5      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004           5      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004           5      1.0  120.0

We have three rows to update the bidderrate field on; let’s go ahead and do that.

In [4]:
data[data.bidder == 'parakeet2004']['bidderrate'] = 100

SettingWithCopyError:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
data[data.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004         100      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004         100      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004         100      1.0  120.0

In [8]:
import os
os.getcwd()

'd:\\FunProjects\\SettingWithCopy'

In [6]:
# Setting the new value
data.loc[data.bidder == 'parakeet2004', 'bidderrate'] = 100
# Taking a look at the result
data[data.bidder == 'parakeet2004']['bidderrate']

6    100
7    100
8    100
Name: bidderrate, dtype: int64

In [11]:
winners = data.loc[data.bid == data.price]
winners.head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price
3,8213034705,117.5,2.998947,daysrus,10,95.00,117.5
25,8213060420,120.0,2.999722,djnoeproductions,17,1.00,120.0
44,8213067838,132.5,2.996632,*champaignbubbles*,202,29.99,132.5
45,8213067838,132.5,2.997789,*champaignbubbles*,202,29.99,132.5
66,8213073509,114.5,2.999236,rr6kids,4,1.00,114.5

In [ ]:
We might write several subsequent lines of code working with our winners variable.

In [12]:
winners.loc[304, 'bidder']

nan

In [13]:
winners.loc[304, 'bidder'] = 'therealname'

D:\ProjectsEnv\Stan\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [15]:
print(winners.loc[304, 'bidder'])
print(data.loc[304, 'bidder'])

therealname
nan

In [16]:
winners = data.loc[data.bid == data.price].copy()
winners.loc[304, 'bidder'] = 'therealname'
print(winners.loc[304, 'bidder'])
print(data.loc[304, 'bidder'])

therealname
nan