In [4]:
import pandas as pd
import numpy as np

## Create a pandas dataframe with random integer values

In [5]:
A = pd.DataFrame(np.random.randint(0,100,(4,5)),  columns= ['one','two','three','four','five'])    # (4,5) denotes rows and columns
A

   one  two  three  four  five
0    3   47     47    75     0
1   59   39      4    95    51
2   12   52     32    35    82
3   70   95     31    25    68

## Create an empty Dataframe with column names & row indices but no data

In [18]:
df = pd.DataFrame(columns=['User_ID', 'UserName', 'Action'], index=['a', 'b', 'c'])
df

  User_ID UserName Action
a     NaN      NaN    NaN
b     NaN      NaN    NaN
c     NaN      NaN    NaN

In [19]:
df.loc['b']= [23, 'Riti', 'Login']    #loc requires the index name
df

  User_ID UserName Action
a     NaN      NaN    NaN
b      23     Riti  Login
c     NaN      NaN    NaN

In [20]:
df.iloc[2]= [25, 'Jack', 'Login']    #iloc requires the index position
df

  User_ID UserName Action
a     NaN      NaN    NaN
b      23     Riti  Login
c      25     Jack  Login

In [21]:
df['new_column']= [12, 'Rakesh', 'Logout']    # it adds a column to dataframe
df

  User_ID UserName Action new_column
a     NaN      NaN    NaN         12
b      23     Riti  Login     Rakesh
c      25     Jack  Login     Logout

In [17]:
df = df.append({'User_ID': 23, 'UserName': 'Riti', 'Action': 'Login', 'new_column': 'ErrorNotFound'}, ignore_index=True)  #ignore_index=True resets the index                                                                                                                                                    values
df

  User_ID UserName Action     new_column
0     NaN      NaN    NaN             12
1      23     Riti  Login         Rakesh
2      25     Jack  Login         Logout
3      23     Riti  Login  ErrorNotFound

In [24]:
df.loc['d']=[78, 'Ashish', 'SignIn', 'RockIt']    #it adds a row to a dataframe
df

  User_ID UserName  Action new_column
a     NaN      NaN     NaN         12
b      23     Riti   Login     Rakesh
c      25     Jack   Login     Logout
d      78   Ashish  SignIn     RockIt

In [27]:
df['a':'c']

  User_ID UserName Action new_column
a     NaN      NaN    NaN         12
b      23     Riti  Login     Rakesh
c      25     Jack  Login     Logout

In [31]:
df.loc['a':'c' ,'User_ID':'Action']       #loc requires index and columns name

  User_ID UserName Action
a     NaN      NaN    NaN
b      23     Riti  Login
c      25     Jack  Login

In [32]:
df.iloc[0:3, 0:3]                        #iloc requires index and column position

  User_ID UserName Action
a     NaN      NaN    NaN
b      23     Riti  Login
c      25     Jack  Login

In [34]:
df.loc['b']['UserName']='Priya'             #chnaging a value in dataframe
df.iloc[0:3, 0:3]

  User_ID UserName Action
a     NaN      NaN    NaN
b      23    Priya  Login
c      25     Jack  Login